<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ss.css') }}">
</head>

<body>
{% include "navbar.html" %}

<h1>New CatalogItem</h1>
<div class="pane">
<form action="#" method = 'post'>

<p>Name:</p>
  <input type='text' size='40' name='name'>
<p>Description:</p>
  <input type ='text' size='40' name='description'>
<p>Theme:</p>
  <input type ='text' size='40' name='theme'>
</br>

<input type='submit' value='Create'>
</form>
</div>
</body>

</html>
